body{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

nav{
    width: 100%;
}

nav h1{
    font-family: 'Courier New', monospace;
    font: bolder;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 7px;
}

ul {
    width: 90%;
}
nav ul,nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li{
    list-style-type: none;
    font-weight: bold;
    padding: 1% ;
}

nav ul li a:hover{
    color: red;
    text-decoration: underline red;
}

.breadcrumb ul{
    list-style: none;
    font-size: 20px;
}

.breadcrumb ul li{
    display: inline-block;
    margin: 5px;
}
.breadcrumb ul li:before{
    content: "/\00a0";
    padding-right: 10px;
}
.breadcrumb ul li a{
    text-decoration: none;
    color: black;
}
.breadcrumb ul li a:hover{
    color: blue;
    text-decoration:underline blue;
}
.cartes{
    margin: 7px;
    display: flex;
}
.carte {
    border: rgb(73, 67, 67) 2px solid;
    margin: 3px;
}
.carte *{
    margin: 10px;
    padding: 2px;
}
.carte p{
    color: rgb(81, 255, 0);
}
.image_product{
    background-color: rgb(125, 192, 247);
    width: 180px;
    height: 120px;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
}
